footer  {
  display: flex;
  justify-content: flex-end;

  span {
    margin: 1px;
    padding: 5px 10px;

    &:not(:last-child) {
      border-right: 1px solid gray;
    }
  }

  .env {
    background-color: lightgoldenrodyellow;
  }
}
