<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    Camera
  </mat-grid-tile>
  <mat-grid-tile>
    Map
  </mat-grid-tile>
  <mat-grid-tile>
    Accelerometer
  </mat-grid-tile>
  <mat-grid-tile>
    Audio
  </mat-grid-tile>
</mat-grid-list>
